{% extends "../base_site.html" %}
{%  load static i18n %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "home/css/home.css" %}" />{% endblock %}

{% block content %}
        <div class="col-xs-12 col-sm-12 mb-4">
            <h5>{% trans "Hello"  %},{{  username  }}!</h5>
        </div>


        <div class="col-xs-12 col-md-8">
        <div class="col-xs-12 col-sm-12 mb-4">
            {% if type == "symptom"%}
                <h4 id="q_{{ disease.id }}" class="question-head">Q: What symptoms does "{{ disease }}" have? </h4>
            {% endif %}
            {% if type == "property" %}
                <h4 id="q_{{ symptom.id }}" class="question-head">Q: What properties does "{{ symptom.symptom_name }}" have? </h4>
            {% endif %}
            {% if type == "value" %}
                <h4 id="q_{{ disease.id }}" class="question-head">Q: What values does "{{ property }}" have in {{ disease.name }}? </h4>
            {% endif %}

        </div>

        {% if type == "symptom" %}
        <div class="col-xs-12 col-sm-12 mb-4 ans-list">
            {% if symptoms %}
                 {% for symptom in symptoms %}
                <button class="btn btn-info mr-2 mb-2 ans-btn"  id="{{ symptom.content_unique_id }}">{{ symptom.symptom_name }}</button>
                {% endfor %}
                <p>or more?</p>
            {% endif %}
            {% if not symptoms %}
                <p> Please input to search other symptoms...</p>
            {% endif %}
        </div>
        {% endif %}

        {% if type == "property" %}
        <div class="col-xs-12 col-sm-12 mb-4 ans-list">
            {% if properties %}
                 {% for property in properties %}
                <button class="btn btn-info mr-2 mb-2 ans-btn"  id="{{ property.id }}">{{ property.property_describe }}</button>
                {% endfor %}
                <p>or more?</p>
            {% endif %}
            {% if not properties %}
                <p> Please input to search other properties which have existed...</p>
            {% endif %}
        </div>
        {% endif %}

        {% if type == "value" %}
        <div class="col-xs-12 col-sm-12 mb-4 ans-list">
            {% if values %}
                 {% for value in values %}
                <button class="btn btn-info mr-2 mb-2 ans-btn"  id="{{ value.id }}">{{ value.value_detail }}</button>
                {% endfor %}
                <p>or more?</p>
            {% endif %}
            {% if not values %}
                <p> Please input to search other values...</p>
            {% endif %}
        </div>
        {% endif %}

        <div class="input-group col-xs-10 col-sm-10 mb-4">
{#            <input type="text" class="form-control" id="input-disease" oninput="search_UMLS()">#}
	        <input type="text" class="form-control" id="input-disease" oninput="search_database('{{ type }}')">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="add_symptom()">Add</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 mb-4">
            <p>You might want to search the term below?</p>
            <p class="" id="api-response">
                {{ response }}
            </p>
        </div>

        </div>


        <div class="col-xs-12 col-md-4 pl-1 pr-1">

        <div class="pl-2 mb-1" style="font-size: small;border-left:solid .25rem;border-left-color: #f0ad4e;">
            <span class="badge badge-secondary">Help</span>
            The meaning of
            <b>{{ disease.name }}</b> is:
            <p id="disease-def">

            </p>

        </div>
        <ul class="nav selected-ans">

        </ul>
        <button class="btn btn-dark" type="button" onclick="next_question()">Next</button>
    </div>





{% endblock %}

{% block extrascript %}
    <script>
        session.setItem('tgt','{{ tgt }}');
        session.setItem('uuid','{{ user.id }}');
    </script>
    <script src="{% static "home/js/home.js" %}">
    </script>
    <script src="{% static "home/js/load.js" %}">
    </script>
    <script>
        get_def_umls("{{ disease.content_unique_id }}");
    </script>

{% endblock %}