.card-body{
    border:1px solid #5d5d5d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: #959595 1px 1px 1px;
}
#api-response .btn{
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding:0.1rem;
}
.question-head{
    line-height: 1.7;
}
#api-response>p{
    margin-bottom: 0.3rem;
}
#api-response .def{
    font-size: 70%;
    color: #5d5d5d;
}
#api-response .btn:hover{
    background-color: #fafafa;
}
.valid-word{
    background-color: #28a745ba;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    border-radius: 3rem;
    padding: 0 0.3rem 0.2rem 0.3rem;
    display: inline-block;
}
.agree-div{
    margin-top:4rem;
    padding-top: 4rem;
    text-align: center;
}
.agree-div button{
    width:30%;
    margin:3%;
}
.agree{
    border-radius: 3rem;
}
.disagree{
    border-radius: 3rem;
}
h4 .badge {
    font-size: 55%;
}