{% extends "../base_site.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>For LiveBook <small>A collection system</small></h1>
<form action="{% url 'register' %}" class="form-horizontal" method="post" >
    {% csrf_token %}

  <div class="form-group">
    <label class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Username" name="username">
    </div>
  </div>

	<div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input class="form-control-static" placeholder="email@example.com"  name="email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
    </div>
  </div>

	<a href="{% url 'login' %}">already have account</a>
    <button type="submit">Register</button>
</form>

{% endblock %}
m
{% block extrascript %}
    <script>

    </script>
{% endblock %}