{% extends "../base_site.html" %}

{% block content %}
    {% block object-tools %}{% endblock %}
    <div class="col-xs-12 col-sm-12 mb-4">
        <h5>{{ content }}</h5>
    </div>
    <br/>
    <div class="col-xs-12 col-sm-12 mb-4">
        <input type="text" method="get" id="input-disease" />
        <button class="btn btn-dark" > Search </button>

    </div>
    <div class="col-xs-12 col-sm-12 mb-4">
        <p>You might want to search the term below?</p>
        <p class="" id="api-response">
            {{ response }}
        </p>
    </div>


{% endblock %}

