{% extends "../base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "home/css/home.css" %}" />{% endblock %}

{% block content %}

    {% block object-tools %}{% endblock %}
    <div class="col-xs-12 col-sm-12 mb-4">
        <h5>{% trans "Hello"  %},{% blocktrans %}{{  username  }}!{% endblocktrans %}</h5>
        <h5>{{ content }}</h5>
    </div>
    <br/>
    <div class="col-xs-12 col-sm-12 mb-4">
        <button class="btn btn-dark" onclick="start()" > start </button>
    </div>
    <div class="col-xs-12 col-sm-12 mb-4">
        <p>{{ para }}</p>
        <p class="" id="api-response">
            {{ response }}
        </p>
        <p>may the force be with you.</p>
    </div>

{% endblock %}

{% block extrascript %}
    <script src="{% static "home/js/home.js" %}">
    </script>
    <script src="{% static "home/js/load.js" %}">
    </script>

{% endblock %}