{% extends "../base_nav.html" %}
{% load i18n static %}
{% load render_table from django_tables2 %}
{% block extrastyle %}{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "home/css/home.css" %}" />
{% endblock %}

{% block content %}

    {% block object-tools %}{% endblock %}
    <div class="col-12 col-sm-12 mb-4 pl-4 pr-4">
        <h4> {% blocktrans %}Hi, {{  username  }}!{% endblocktrans %}</h4>
    </div>
    <br/>
	<div id='table-content'class="col-12 col-sm-8 ml-2 mr-2">
		<h5>History</h5>
		{% render_table logtable  %}
	</div>
	<div class="col-12 col-sm-3">
		<div class="box">
			<p>You have already</p>
			<h4>finished <strong>{{ count }}</strong> questions</h4>
		</div>

		<div id="common-disease" class="box">


			<h4>Unfortunately,</h4>
			<p>There is no  the most usually you edit.</p>

		</div>
	</div>

{% endblock %}

{% block extrascript %}
	<script>
		$("#table-content table").addClass('table').addClass('table-striped').addClass('table-sm').append("<caption>History of your answers.</caption>");
		function getDiseaseMost() {
			var diseaseSet = $("td.disease").toArray();
			var hash = {};
			var m = 0;
			var disease = null;
			diseaseSet.forEach(function (value) {
				var el = $(value).text();
				hash[el] === undefined ? hash[el] = 1 : (hash[el]++);
				hash[el] >= m && (disease = el);
			});
			console.log(hash);
			return {
				"count": hash[disease],
				"name": disease
			}
		}
		var diseaseMost = getDiseaseMost();
		$("#common-disease").html("<h4>"+ diseaseMost.name +"</h4>" +
			"<p> you edit the most. Totally <strong>"+diseaseMost.count+"</strong> times.</p>");
	</script>
{% endblock %}


