{% extends "../base_site.html" %}
{% load i18n static %}
{% load render_table from django_tables2 %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "home/css/home.css" %}" />{% endblock %}

{% block content %}

    {% block object-tools %}{% endblock %}
    <div class="col-12 col-sm-12 mb-4 pl-4 pr-4">
        <h4> {% blocktrans %}Hi, {{  username  }}!{% endblocktrans %}</h4>
        <h5>Histroy</h5>
    </div>
    <br/>
	<div class="col-12 col-sm-12 ml-2 mr-2">
		{% render_table logtable  %}
	</div>

{% endblock %}

