{% extends "base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Data For Livebook Demo') }}{% endblock %}

{% block nav %}
    <nav class="navbar">
		{% if user.user_name %}
			{% if user.is_admin %}
				<a class="nav-link" href="{% url 'admin:index' %}">admin</a>
			{% endif %}
			<a class="nav-link">{{ user.user_name }}</a>/
			<a class="nav-link" href="{% url 'login' %}" onclick="logout()">Logout</a>
		{% endif %}
	    {% if not user.user_name %}
			<a class="nav-link" href="{% url 'login' %}">Login</a>
		{% endif %}
    </nav>
{% endblock %}

{% block footer %}
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
{% endblock %}
